.Card,
.inisibleCard {
  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.3);
  /* border: 1px solid; */
  width: 100%;
  /* padding: 5%; */
  background-color: gold;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10%;
}

.inisibleCard {
  visibility: hidden;
}
.Popup {
  background: transparent;
  border: 1px solid;
  width: 60%;
  /* padding: 10%; */
  margin: 20%;
}
